table {
  height: 100%;
  width: 100%;
  max-width: 100%;
}

table tr td {
  text-align: center;
  vertical-align: middle;
}

input {
  font-size: 8em;
  border: none;
  outline: none;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto .2em auto;
  max-width: 40em;
}

p {
  text-align: left;
  font-size: 2em;
}

h1 {
  font-size: 8em;
  margin: 0;
}
